<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title></title><!--ブラウザのタブのタイトルを指定-->
        <link rel="stylesheet" href="./stylesheets/hello.css">
    </head>
    <body>
        <section id="first-block">
        </section>
        <section id="second-block">
        </section>
    </body>