<h3>ネコ種紹介</h3>
<h1>ここではいろんな種類のネコやネコの模様をご紹介！<br>
ぜひお気に入りのネコを見つけてくださいね！
</h1>

<h3>種類</h3>
<h2>アメリカンショートヘア</h2>
<h2>ベンガル</h2>
<h2>ブリティッシュショートヘア</h2>
<h2>エキゾチックショートヘア</h2>
<h2>マンチカン</h2>
<h2>メインクーン</h2>
<h2>ペルシャ</h2>
<h2>ラグドール</h2>
<h2>ロシアンブルー</h2>
<h2>スコティッシュフォールド</h2>
<h2>シャム</h2>

<h3>模様</h3>
