<%= stylesheet_link_tag 'cat', :media => "all" %>

<h3 id = "title1">ネコ種紹介</h3>
<div class="info">
ここではサイト管理者が独断と偏見で選りすぐった、<br>
いろんな種類のネコやネコの模様をご紹介！<br>
ぜひお気に入りのネコを見つけてくださいね！<br>
参考：ねこのきもち WEB MAGAZINE
</div>
<h4 id = "title2">種類</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">アメリカンショートヘア</h5>
            原産国：アメリカ<br>
            毛種：短毛種<br>
            <br>
            縞模様が特徴的なネコ。<br>
            筋肉質な体で人懐こい性格で、ギャップがたまりません！<br>
            温厚で物怖じしない性格の子が多く、いたずら好きな一面も。
        </div>
        <div class="col-sm-6">
            <img src="https://thumb.photo-ac.com/cf/cfa8ac8b3ed0fdd52e4c40de2e5a536d_t.jpeg" class="img-fluid" alt="アメリカンショートヘア">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ブリティッシュショートヘア</h5>
            原産国：イギリス<br>
            毛種：短毛種<br>
            <br>
            まあるい頭に大きな目、コロコロとした体つきが愛らしいネコ。<br>
            もともと狩猟能力に優れ、農家などで飼われていた賢いネコです。<br>
            そのおおらかさ、落ち着きから、テレビやハリウッド映画にもよく登場！
        </div>
        <div class="col-sm-6">
            <img src="https://lh3.googleusercontent.com/proxy/y_OY9yfksy-pmxE-rY1UAN8IfB-HT_Z0wrxZGOtbOuUTcpo-XN9m0-EHugeN2Ard8JlmsgpqC_DmI5tmYhyl3kI4bKDH6lfTLlXmUiyDNgQ3NaQIT4LELvJ8H0oKWsHCXQ" class="img-fluid" alt="ブリティッシュショートヘア">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">エキゾチックショートヘア</h5>
            原産国：アメリカ<br>
            毛種：短毛種<br>
            <br>
            ぺちゃっとつぶれて上を向いた鼻がなんともキュートなネコ。<br>
            性格は穏やかな子が多く、静かに過ごすのが好きなようです。<br>
            しかしアメショの血もひく種のため、好奇心旺盛な一面も！
        </div>
        <div class="col-sm-6">
            <img src="https://www.pakutaso.com/shared/img/thumb/TSU00s1s2d_TP_V.jpg" class="img-fluid" alt="エキゾチックショートヘア">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">スコティッシュフォールド</h5>
            原産国：スコットランド<br>
            毛種：短毛種・長毛種<br>
            <br>
            ちょこんと折れた耳がかわいらしいネコ。<br>
            と思ったら、実は耳が立った子もいるんです！<br>
            とっても穏やかな性格で、甘えん坊な子も多いんです。
        </div>
        <div class="col-sm-6">
            <img src="https://lh3.googleusercontent.com/proxy/_XR8IEo9DJX0L92KpSXHo-AkozAqg1tSiZ4l8FTjb3y_WVM8VeS4ZLG0ysPzclsMWuKW5sLJlHnhOg4QtqNiRNzIbNhZ8z_5_Op0RX2zJcaZK_C-WDI88koJxQFAED8mJA" class="img-fluid" alt="スコティッシュフォールド">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">マンチカン</h5>
            原産国：アメリカ<br>
            毛種：短毛種・長毛種<br>
            <br>
            短い足で駆け回る姿がたまらなくかわいいネコ。<br>
            足は短くてもジャンプ力に優れ、低姿勢で元気に走り回ります。<br>
            その姿から「ネコのスポーツカー」とも呼ばれています！
        </div>
        <div class="col-sm-6">
            <img src="https://st4.depositphotos.com/14841312/20745/i/600/depositphotos_207459498-stock-photo-kitty-cat-munchkin-fluffy-animal.jpg" class="img-fluid" alt="マンチカン">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ベンガル</h5>
            原産国：アメリカ<br>
            毛種：短毛種<br>
            <br>
            スラッとしたヒョウ柄の体が美しいネコ。<br>
            外見のわりに人懐こいというギャップから人気を呼んでいます。<br>
            また、水が苦手でない子が多い珍しいネコです！
        </div>
        <div class="col-sm-6">
            <img src="https://image.freepik.com/free-photo/bengal-cat-stands-on-yellow-bed_8353-534.jpg" class="img-fluid" alt="ベンガル">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">シャム</h5>
            原産国：タイ<br>
            毛種：短毛種<br>
            <br>
            ポイントカラーに青い目が印象的なネコ。<br>
            南国生まれかつ短毛で寒がりなためか、人と触れ合うことが大好きです。<br>
            よく鳴く子も多いので、おしゃべりを楽しめるかも！
        </div>
        <div class="col-sm-6">
            <img src="https://publicdomainq.net/images/201702/17s/publicdomainq-0006012phk.jpg" class="img-fluid" alt="シャム">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ロシアンブルー</h5>
            原産国：ロシア<br>
            毛種：短毛種<br>
            <br>
            グレー単色の毛並みにグリーンの目が映える魅力的なネコ。<br>
            口元は微笑んでるように見え、「ロシアンスマイル」と呼ばれています！<br>
            とっても穏やかな性格であまり鳴かない子も多いのが特徴です。
        </div>
        <div class="col-sm-6">
            <img src="https://thumb.photo-ac.com/69/6925134d8b74e1c65a61b38c359ab8d5_t.jpeg" class="img-fluid" alt="ロシアンブルー">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ペルシャ</h5>
            原産国：イギリス<br>
            毛種：長毛種<br>
            <br>
            低い鼻に大きな瞳、長く絹のような艶やかな毛並みが印象的なネコ。<br>
            その歴史は古く気品のある姿からも「ネコの王様」とも呼ばれています！<br>
            性格はおとなしく控えめな傾向ですが、毛柄によっても異なるようです。
        </div>
        <div class="col-sm-6">
            <img src="https://cat-press.com/wp/wp-content/uploads/2016/04/Persian-compressor.jpg" class="img-fluid" alt="ペルシャ">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">メインクーン</h5>
            原産国：アメリカ<br>
            毛種：長毛種<br>
            <br>
            大きな体に凛々しい顔つき、美しい長毛が特徴的なネコ。<br>
            ふさふさの大きなしっぽから、アライグマとの交配種という伝説も！？<br>
            強そうな見た目に反しとてもやさしい性格で、ギャップもたまりません！<br>
        </div>
        <div class="col-sm-6">
            <img src="https://tonarineko.com/wp-content/uploads/2016/12/Maine-Coon-compressor-1.jpg" class="img-fluid" alt="メインクーン">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ラグドール</h5>
            原産国：アメリカ<br>
            毛種：長毛種<br>
            <br>
            ふさふさとした白く長い毛と青い瞳が美しいネコ。<br>
            その名も「ぬいぐるみ人形」という意味をもつほど抱かれるのが大好き。<br>
            その毛並みに、一度抱いたらあなたも虜になること間違いなし！
        </div>
        <div class="col-sm-6">
            <img src="https://thumb.photo-ac.com/b1/b12c95eb0152d1454262fa97a4dac286_t.jpeg" class="img-fluid" alt="ラグドール">
        </div>
    </div>
</div>
<br>
<h4 id = "title2">模様</h4>
