<%= stylesheet_link_tag 'cat', :media => "all" %>

<!-- ネコ種紹介ページ -->
<h3 id = "title1">ネコ種紹介</h3><br>
<!-- ページ紹介文 -->
<div class="info">
ここではサイト管理者が選りすぐった、<br>
いろんな種類のネコやネコの模様をご紹介！<br>
ぜひお気に入りのネコを見つけてくださいね！<br>
<br>
＜参考＞<br>
ねこのきもち WEB MAGAZINE<br>
みんなのペットライフ<br>
</div>

<!-- 種類別 -->
<h4 id = "title2">種類</h4><br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">アメリカンショートヘア</h5><!-- 種名（日本語） -->
            <h6 id = "title4">American Shorthair</h6><br><!-- 種名（英語） -->
            原産国：アメリカ<br>
            毛種：短毛種<br>
            <br>
            縞模様が特徴的なネコ。<br>
            筋肉質な体で人懐こい性格で、ギャップがたまりません！<br>
            温厚で物怖じしない性格の子が多く、いたずら好きな一面も。
        </div>
        <!-- イメージ画像 -->
        <div class="col-sm-6">
            <img src="/assets/Amesho.jpg" class="img-fluid" alt="アメリカンショートヘア">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ブリティッシュショートヘア</h5>
            <h6 id = "title4">British Shorthair</h6><br>
            原産国：イギリス<br>
            毛種：短毛種<br>
            <br>
            まあるい顔に大きな目、コロコロとした体つきが愛らしいネコ。<br>
            もともと狩猟能力に優れ、農家などで飼われていた賢いネコです。<br>
            そのおおらかさ、落ち着きから、テレビやハリウッド映画にもよく登場！
        </div>
        <div class="col-sm-6">
            <img src="/assets/Brisho.jpg" class="img-fluid" alt="ブリティッシュショートヘア">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">エキゾチックショートヘア</h5>
            <h6 id = "title4">Exotic Shorthair</h6><br>
            原産国：アメリカ<br>
            毛種：短毛種<br>
            <br>
            ぺちゃっとつぶれて上を向いた鼻がなんともキュートなネコ。<br>
            性格は穏やかな子が多く、静かに過ごすのが好きなようです。<br>
            しかしアメショの血もひく種のため、好奇心旺盛な一面も！
        </div>
        <div class="col-sm-6">
            <img src="/assets/exotic.jpg" class="img-fluid" alt="エキゾチックショートヘア">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">スコティッシュフォールド</h5>
            <h6 id = "title4">Scottish Fold</h6><br>
            原産国：スコットランド<br>
            毛種：短毛種・長毛種<br>
            <br>
            ちょこんと折れた耳がかわいらしいネコ。<br>
            と思ったら、実は耳が立った子もいるんです！<br>
            独特の「スコ座り」はちょっとおじさんくさくてかわいいですね。
        </div>
        <div class="col-sm-6">
            <img src="/assets/sco.jpg" class="img-fluid" alt="スコティッシュフォールド">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">マンチカン</h5>
            <h6 id = "title4">Munchikin</h6><br>
            原産国：アメリカ<br>
            毛種：短毛種・長毛種<br>
            <br>
            短い足で駆け回る姿がたまらなくかわいいネコ。<br>
            足は短くてもジャンプ力に優れ、低姿勢で元気に走り回ります。<br>
            その姿から「ネコのスポーツカー」とも呼ばれています！
        </div>
        <div class="col-sm-6">
            <img src="/assets/munchkin.jpg" class="img-fluid" alt="マンチカン">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ベンガル</h5>
            <h6 id = "title4">Bengal</h6><br>
            原産国：アメリカ<br>
            毛種：短毛種<br>
            <br>
            スラッとしたヒョウ柄の体が美しいネコ。<br>
            外見のわりに人懐こいというギャップから人気を呼んでいます。<br>
            また、水が苦手でない子が多い珍しいネコです！
        </div>
        <div class="col-sm-6">
            <img src="/assets/bengal.jpg" class="img-fluid" alt="ベンガル">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">シャム</h5>
            <h6 id = "title4">Siamese</h6><br>
            原産国：タイ<br>
            毛種：短毛種<br>
            <br>
            ポイントカラーに青い目が印象的なネコ。<br>
            南国生まれかつ短毛で寒がりなためか、人と触れ合うことが大好きです。<br>
            よく鳴く子も多いので、おしゃべりを楽しめるかも！
        </div>
        <div class="col-sm-6">
            <img src="/assets/sham.jpg" class="img-fluid" alt="シャム">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ロシアンブルー</h5>
            <h6 id = "title4">Russian Blue</h6><br>
            原産国：ロシア<br>
            毛種：短毛種<br>
            <br>
            グレー単色の毛並みにグリーンの目が映える魅力的なネコ。<br>
            口元は微笑んでるように見え、「ロシアンスマイル」と呼ばれています！<br>
            とっても穏やかな性格であまり鳴かない子も多いのが特徴です。
        </div>
        <div class="col-sm-6">
            <img src="/assets/russian.jpg" class="img-fluid" alt="ロシアンブルー">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ペルシャ</h5>
            <h6 id = "title4">Persian</h6><br>
            原産国：イギリス<br>
            毛種：長毛種<br>
            <br>
            低い鼻に大きな瞳、長く絹のような艶やかな毛並みが印象的なネコ。<br>
            その歴史は古く気品のある姿からも「ネコの王様」とも呼ばれています！<br>
            性格はおとなしく控えめな傾向ですが、毛柄によっても異なるようです。
        </div>
        <div class="col-sm-6">
            <img src="/assets/Persian.jpg" class="img-fluid" alt="ペルシャ">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">メインクーン</h5>
            <h6 id = "title4">Maine Coon</h6><br>
            原産国：アメリカ<br>
            毛種：長毛種<br>
            <br>
            大きな体に凛々しい顔つき、美しい長毛が特徴的なネコ。<br>
            ふさふさの大きなしっぽから、アライグマとの交配種という伝説も！？<br>
            強そうな見た目に反しとてもやさしい性格で、ギャップもたまりません！<br>
        </div>
        <div class="col-sm-6">
            <img src="/assets/Maine-Coon.jpg" class="img-fluid" alt="メインクーン">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ラグドール</h5>
            <h6 id = "title4">Ragdoll</h6><br>
            原産国：アメリカ<br>
            毛種：長毛種<br>
            <br>
            ふさふさとした白く長い毛と青い瞳が美しいネコ。<br>
            その名も「ぬいぐるみ人形」という意味をもつほど抱かれるのが大好き。<br>
            その毛並みに、一度抱いたらあなたも虜になること間違いなし！
        </div>
        <div class="col-sm-6">
            <img src="/assets/ragdoll.jpg" class="img-fluid" alt="ラグドール">
        </div>
    </div>
</div>

<!-- 模様別 -->
<h4 id = "title2">模様</h4><br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">白</h5>
            <h6 id = "title4">White</h6><br>
            <br>
            真っ白なネコは独占欲が強く、甘えん坊な傾向にあります。<br>
            一方で、ほかのネコに対してはとても強気な態度を見せます。<br>
            性質としては、繊細でクールな一面があります。<br>
            自然界では目立つ色のため、警戒心が強い性格になったともいわれています。
        </div>
        <div class="col-sm-6">
            <img src="/assets/white.jpg" class="img-fluid" alt="白">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">黒</h5>
            <h6 id = "title4">Brack</h6><br>
            <br>
            黒ネコは見た目のイメージとは違い、とても人懐こい性格です。<br>
            甘えん坊で穏やかで、頭のいい子が多いのも特徴です。<br>
            白ネコとは反対にあまり目立たないせいか、警戒心が弱い傾向があります。<br>
            ただし赤系の遺伝子をもつ黒ネコの場合は、警戒心の強い性格になることもあります。
        </div>
        <div class="col-sm-6">
            <img src="/assets/black.jpg" class="img-fluid" alt="黒">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">グレー</h5>
            <h6 id = "title4">Gray</h6><br>
            灰色のネコは「ブルーキャット」とも呼ばれます。<br>
            雑種のほかに、ロシアンブルーなどの純血種もいます。<br>
            血統ごとに性格は異なりますが、一般的には落ち着いた性格をしているといわれます。<br>
            また繊細でナーバスな一面があり、心を許した相手にしか懐かない傾向があります。
        </div>
        <div class="col-sm-6">
            <img src="/assets/gray.jpg" class="img-fluid" alt="グレー">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">キジトラ</h5>
            <h6 id = "title4">Brown Tabby</h6><br>
            キジトラはネコの原型となった柄といわれるだけあり、個体数も多いです。<br>
            茶色ベースの毛に黒い縞模様が入っているのが特徴です。<br>
            性格は警戒心が強いものの、一度なつくとべったり甘えん坊に。<br>
            ただし、あちこち動き回りたがる性分なので、長時間抱っこされることは好みません。
        </div>
        <div class="col-sm-6">
            <img src="/assets/kijitora.jpg" class="img-fluid" alt="キジトラ">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">サバトラ</h5>
            <h6 id = "title4">Silver Tabby</h6><br>
            サバトラは明るい灰色ベースの毛に、黒い縞模様が入ったネコです。<br>
            魚の「サバ」に似た色をしていることから、この名前が付けられました。<br>
            性格は大きく2種類に分かれ、おっとりして人懐っこいタイプと、警戒心が強く慎重なタイプの両極端になることが多いです。
        </div>
        <div class="col-sm-6">
            <img src="/assets/sabatora.jpg" class="img-fluid" alt="サバトラ">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">茶トラ</h5>
            <h6 id = "title4">Red Tabby</h6><br>
            茶トラは薄いオレンジがかった毛色に赤褐色の縞模様が入ったネコです。<br>
            キジトラに比べると薄く赤みがかった色合いをしています。<br>
            性格は人懐っこく甘えん坊で活発ですが、デリケートな一面があります。<br>
            また、食欲旺盛なのも、茶トラの特徴のひとつです。
        </div>
        <div class="col-sm-6">
            <img src="/assets/tyatora.jpg" class="img-fluid" alt="茶トラ">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">黒白/白黒</h5>
            <h6 id = "title4">Black & White/White & Black</h6><br>
            文字通り、白と黒2色の毛色を持ったネコです。<br>
            黒の割合が多ければ、「黒白」、白の割合が多ければ「白黒」と呼ばれます。<br>
            それぞれ性格が異なるといわれています。<br>
            黒白は人懐っこく温和でマイペースな性格です。<br>
            白黒はおとなしそうにみえて、実は強気な性格をしているようです。
        </div>
        <div class="col-sm-6">
            <img src="/assets/sirokuro.jpg" class="img-fluid" alt="黒白">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">三毛</h5>
            <h6 id = "title4">Calico</h6><br>
            白地に茶と黒の毛が混じったネコです。<br>
            遺伝的に、オスが極めて珍しい模様です。<br>
            運動神経抜群で好奇心が強く、器用で賢いのが特徴です。<br>
            メスネコ全般の気質でもありますが、マイペースでプライドが高く、いわゆるツンデレ傾向にあります。<br>
            少し気まぐれなところは、ネコらしい性格だといえます。
        </div>
        <div class="col-sm-6">
            <img src="/assets/mike.jpg" class="img-fluid" alt="三毛">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">サビ</h5>
            <h6 id = "title4">Tortoiseshell</h6><br>
            黒、茶、赤の毛色がまだらになったネコで、別名「ベッコウネコ」とも呼ばれます。<br>
            こちらも三毛と同様、オスが生まれることは珍しいです。<br>
            メスが多いものの三毛とは異なり、それほど気は強くありません。<br>
            愛嬌と協調性があり、甘えん坊です。<br>
            体が丈夫で長生きしやすいのも特徴です。
        </div>
        <div class="col-sm-6">
            <img src="/assets/sabi.jpg" class="img-fluid" alt="サビ">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">キジ白</h5>
            <h6 id = "title4">Brown Tabby & White</h6><br>
            基本的な模様はキジトラと同じですが、顔の下側やおなか、足先などが白いネコは、「キジ白」と呼ばれます。<br>
            性格もキジトラと似たところがあり、警戒心がやや強め。<br>
            打ち解ければ甘えてくれるようになるものの、抱っこはあまり好まないようです。<br>
        </div>
        <div class="col-sm-6">
            <img src="/assets/kijishiro.jpg" class="img-fluid" alt="キジ白">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">サバ白</h5>
            <h6 id = "title4">Silver Tabby & White</h6><br>
            ベースが灰色に黒の縞模様で、おなかや足先が白色のネコです。<br>
            性格はサバトラと同じく、おっとりして人懐っこいタイプと、警戒心が強く慎重なタイプに分かれることが多いとされています。<br>
            白い毛色の部分が多いほどプライドが高く、また賢い傾向にあるといわれます。
        </div>
        <div class="col-sm-6">
            <img src="/assets/sabashiro.jpg" class="img-fluid" alt="サバ白">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">茶白</h5>
            <h6 id = "title4">Red Tabby & White</h6><br>
            茶トラ柄がベースで、顔やおなか、手足などが白色の猫ネコです。<br>
            性格は茶トラの性質が強く影響しており、人懐こく甘えん坊で活発です。<br>
            また、ほかのネコとも仲よく接することが得意な子が多いのも特徴です。
        </div>
        <div class="col-sm-6">
            <img src="/assets/tyashiro.jpg" class="img-fluid" alt="茶白">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ポインテッド</h5>
            <h6 id = "title4">Pointed</h6><br>
            ポインテッドとは、白系の毛をベースに、顔、耳、しっぽ、手足などの末端だけに色がついているネコのことを指します。<br>
            ポインテッドで有名なのは「シャム」ですが、他種との交配によってさまざまな種類のポインテッドが誕生しています。<br>
            性格は種にもよりますが、基本的にはマイペースで甘えたがりな子が多いです。<br>
        </div>
        <div class="col-sm-6">
            <img src="/assets/pointed.jpg" class="img-fluid" alt="ポインテッド">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">ハチワレ</h5>
            <h6 id = "title4">Hachiware</h6><br>
            ハチワレは額の部分で毛色が2色に分かれているネコです。<br>
            八の字を書くように分かれているのでこの名がつきました。<br>
            もとは白黒カラーのみをハチワレと呼んでいましたが、近年ではほかの色で使われることも多いです。<br>
            性格は色によって異なりますが、最も多い白黒のハチワレは、生命力がありタフな性格をしているといわれています。
        </div>
        <div class="col-sm-6">
            <img src="/assets/hachiware.jpg" class="img-fluid" alt="ハチワレ">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5 id = "title3">くつした</h5>
            <h6 id = "title4">Socks</h6><br>
            くつしたネコとは、その名の通り、くつしたを履いているかのような柄のネコです。<br>
            くつしたの色は白が多く、黒猫、茶トラ、キジトラなどに多く見られます。<br>
            国によって幸運の象徴として見られることもあります。<br>
            性格はベースの色となる模様に強く影響されるため、くつしたネコ特有の性格といったものはありません。
        </div>
        <div class="col-sm-6">
            <img src="/assets/socks.jpg" class="img-fluid" alt="くつした">
        </div>
    </div>
</div>
