// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.info {
  font-size: larger;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.info h3 {
  color: #A94C03;
  font-family: 'Segoe Print','Bradley Hand',sans-serif;
  font-weight: bold;
}

