// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#first-block {
    background-image: url("../images/topcat.jpg");
    background-size: cover;
    width: 100%;
    height: 550px;

    display: flex;
    justify-content: center;
    align-items: center;
  }