#title1{
  text-align: center;
  color: #3B170B;
  font-weight: bold;
}
.search {
  padding-bottom: 20px;
}
h2 {
    margin-bottom: 30px;
    color: #3B170B;
    text-align: center;
  }
  h4 {
    color: #3B170B;
    text-align: center;
  }
  .tweets-row {
    border-bottom: solid #E1B780;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  
  .more-info {
    text-align: end;
  }
  .time {
    text-align: end;
  }
  a {
    color: #7c2d13;
    text-decoration: none;
  }
  
  a:hover {
    color: #4d1502;
    text-decoration: underline; 
  }
  .profile{
    text-align: center;
    margin-bottom: 30px;
  }
  .search{
    text-align: center;
  }