#title1{
    text-align: center;
    color: #3B170B;
    font-weight: bold;
}

#title2 {
    font-weight: normal;
}

.container {
    padding-bottom: 0%;
}

.box {
    padding-bottom: 20px;
}

.box2 {
    padding-bottom: 20px;
    align-items: center;
}

.warning1 {
    color: red;
    text-align: center;
    margin-bottom: 50px;
}

.warning2 {
    color: red;
}