#title1{
    text-align: center;
    color: #3B170B;
    font-weight: bold;
}

p {
    text-align: center;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.form-row {
    margin-top: 30px;
    margin-bottom: 30px;
}